[submodule "submodules/re2"]
	path = submodules/re2
	url = https://github.com/google/re2.git
[submodule "submodules/cppkafka"]
	path = submodules/cppkafka
	url = https://github.com/mfontanini/cppkafka.git
[submodule "submodules/librdkafka"]
	path = submodules/librdkafka
	url = https://github.com/edenhill/librdkafka.git
[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/taojson"]
	path = submodules/taojson
	url = https://github.com/taocpp/json.git
[submodule "submodules/stxxl"]
	path = submodules/stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "submodules/gzip-hpp"]
	path = submodules/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "submodules/cxxopts"]
	path = submodules/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date.git
